{{#if movie.class}}
    <div class="col s12 m6 l4 {{movie.class}}">
{{else}}
    <div class="col s12 m6 l4 tmdb">
{{/if}}
    <div class="card small horizontal">
        <div class="card-image">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h5>{{movie.title}}</h5>
                <p>{{movie.release_date}}</p>
                <p>{{movie.cast}}</p>
            </div>
            <div class="card-action center-align" data-movieId="{{movie.id}}" >
                <a href="#" onclick="Materialize.toast('Added', 4000)" class="mr0">
                    <i class="material-icons icon-blue">cancel</i>
                </a>
                
                <div class="row mb0">
                    {{#each movie.stars}}
                    <a data-starId={{@index}} href="#" class="mr0"><i class="  material-icons tiny icon-blue">
                        {{#if this.star}}
                            star
                        {{else}}
                            star_border
                        {{/if}}
                        </i></a>
                    {{/each}}
                </div>
                    {{!-- <a href="#" class="mr0"><i class="material-icons tiny icon-blue">star_border</i></a> --}}
            </div>
        </div>
    </div>
</div>